/*custom styles*/
body {
	background: #f9f9f9;
}
table {
	width: 100%;
}
table tr{
	cursor: pointer; 
	
}
table tr td{
	font-size: 12px;
}

table tr td.body {
	
}
table tr td.headers{
	overflow: scroll;
	max-width: 400px;
	word-wrap: break-word;
}
.button {
	outline: 0;
}
.button.tiny {
	padding: 4px 8px; 
}
.no-margin {
	margin: 0;
}

.panel.request-details {
	margin-top: 24px;
	overflow: scroll;
	max-width: 400px;
	word-wrap: break-word;
}