/*custom styles*/
body {
	background: #f9f9f9;
}
table {
	width: 100%;
}
table thead tr{ 
	background: #666;
}
table thead tr th{ 
	color: #fff;
	font-weight: lighter;
	letter-spacing: 0.1rem;
}
table tr{
	cursor: pointer; 
}
table tr.active {
	background: #008CBA;
}
table tr.active td{
	color: #fff;
}
table tr td{
	font-size: 12px;
}

table tr td.body {
	
}
table tr td.headers{
	overflow: scroll;
	max-width: 400px;
	word-wrap: break-word;
}
.button {
	outline: 0;
}
.button.tiny {
	padding: 4px 8px; 
}
.no-margin {
	margin: 0;
}

.panel.request-details {
	word-wrap: break-word;
}

.panel.request-details p{
	font-size: 10px;
}

.heading {
	background: #666;
	color: #eee;
	margin: 0;
	padding: 0 22px;
	font-weight: lighter;
	letter-spacing: 0.1rem;
	margin-top: 25px;
	height: 37px;
	line-height: 37px;
}