<!doctype html>
<html>
  <head>
    <title>Mock And Roll History</title>

    <!-- feature detection -->
    <script src="bower_components/foundation/js/vendor/modernizr.js"></script>
    
    <link rel="stylesheet" href="bower_components/foundation/css/normalize.css">
    <link rel="stylesheet" href="bower_components/foundation/css/foundation.css">

    <link rel="stylesheet" href="assets/styles/app.css">
  </head>
  <body
    ng-controller="MockAndRollCtl"
    ng-app="MockAndRollApp"
  >
    
    <section id="display-history">
      <div class="row">
        <div class="large-12 columns">
          <h2>history log </h2>
          <button class="button tiny no-margin" ng-click="clearHistory()" disabled>Clear History</button> (coming soon)
          <table>
            <thead>
              <tr>
                <th>url</th>
                <th>method</th>
                <th>headers</th>
                <th>body</th>
                <th>query</th>
                <!-- <th>hash key</th> -->
              </tr>
            </thead>
            <tr ng-repeat="item in history">
              <!-- <td>{{item}}</td> -->
              <td>{{item.url}}</td>
              <td>{{item.method}}</td>
              <td class="headers">{{item.headers}}</td>
              <td class="body">
                <button class="button tiny no-margin" ng-click="showBody = !showBody">Show</button>
                <span ng-show="showBody">{{item.body}}</span>
              </td>
              <td>{{item.query_string}}</td>
              <!-- <td>{{item.$$hashKey}}</td> -->
            </tr>
          </table>
        </div>
      </div>
    </section>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-foundation/mm-foundation-tpls.js"></script>

    <script src="modules/history-app.js"></script>
    <script src="modules/mockandroll-controller.js"></script>
    <script src="modules/resource.history.js"></script>
  </body>
</html>
