<!doctype html>
<html>
  <head>
    <title>Mock And Roll History</title>

    <!-- feature detection -->
    <script src="bower_components/foundation/js/vendor/modernizr.js"></script>
    
    <link rel="stylesheet" href="bower_components/foundation/css/normalize.css">
    <link rel="stylesheet" href="bower_components/foundation/css/foundation.css">

    <link rel="stylesheet" href="assets/styles/app.css">
  </head>
  <body
    ng-controller="MockAndRollCtl"
    ng-app="MockAndRollApp"
  >
    <div class="row">
      <div class="large-12 columns">
        <h4>History Log</h4>
      </div>
    </div>
    <section id="display-history">
      <div class="row">
        <div class="large-4 columns">
          <button 
            class="button tiny no-margin" 
            ng-click="clearHistory()" 
            disabled
          >
          Clear History
          </button>
          <table>
            <thead>
              <tr>
                <th>Method</th>
                <th>URL</th>
              </tr>
            </thead>

            <tr 
              ng-repeat="item in history"
              ng-init="selected === null" 
              ng-click="showDetails(item); select($index) " 
              ng-class="{ active: $index == selected}"        
            >
              <td>{{item.method}}</td>
              <td>{{item.url}}</td>
            </tr>
          </table>
        </div>
        <div ng-show="detailsVisible">
          <div class="large-8 columns">
            <div class="heading no-margin">Request Details</div>
            <div class="panel request-details">
              <h6>Headers</h6>
              <p>{{details.headers}}</p>
              <h6>Body</h6>
              <p>{{details.body}}</p>
              <h6>Query String</h6>
              <p>{{details.query_string}}</p>              
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-foundation/mm-foundation-tpls.js"></script>

    <script src="modules/history-app.js"></script>
    <script src="modules/mockandroll-controller.js"></script>
    <script src="modules/resource.history.js"></script>
  </body>
</html>
